body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}


.main-photo {
    display: grid;
    justify-content: center;
}

.photo {
    width: 350px;
}

.main-text {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.numberInputArea {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#numberInput {
    width: 100px;
    height: 25x;
    /* border-radius: 5%; */
}

.currencyOptionArea {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 50% auto;
    justify-items: center;
}

.optionAreaSecond {
    transition: 0.5s ease-out;
}

.optionAreaSecond:hover {
    transform: rotate(180deg);

}

.secondCurrency {
    margin-top: 5px;
}

.rotateBtn {
    font-size: 35px;
    cursor: pointer;
}

.exchange-area {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% auto;
    font-size: large;
    border: 1px dotted #000;
}

.currencyArea {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.firstCurrencyArea,
.secondCurrencyArea {
    font-style: italic;
}

.result-area {
    /* text-align: center; */
    display: grid;
    align-items: center;
    justify-content: center;
}